---
http_interactions:
- request:
    method: get
    uri: https://sandbox.extra.com.br/api/v1/sellerItems/skuOrigin/219802
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Nova-Auth-Token:
      - WOzY6C8kEFGM
      Nova-App-Token:
      - OmehvO0ZHM2s
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "skuOrigin": "219802", "skuId": "3454385", "defaultPrice": "double", "salePrice": "double", "availableQuantity": "int", "installmentId": "string", "totalQuantity": "int", "crossDockingTime": "int" }'
  recorded_at: Fri, 23 May 2014 20:48:51 GMT
recorded_with: VCR 2.8.0
